body{
    margin: 0;
    padding: 0;
    background: white;
    min-height: 100vh;
}

input[type="button"]{
    display: block;
    float: left;
    width: 25%;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid white;
}

.dis{
    height: 80px;
}

input{
    font-size: 20px !important;
}